---
- hosts: {{ playbook.hosts }}
  gather_facts: no
  connection: local
  tasks:
{% raw %}
  - name: wait for host to become reachable
    wait_for:
      port: 22
      host: '{{ ansible_ssh_host }}'
      search_regex: OpenSSH
      timeout: 300

  - name: test ssh connection with {{ ansible_user }}
    shell: 'ssh -oStrictHostkeyChecking=no -oBatchMode=yes {{ ansible_user }}@{{ ansible_ssh_host }} echo test'
    register: connection_test
    ignore_errors: yes

  - name: set ansible_user to value of bootstrap_user
    set_fact:
        ansible_ssh_user: "{{ bootstrap_user|default('root') }}"
    when: connection_test.failed
{% endraw %}

- hosts: {{ playbook.hosts }}
  tasks:
{% for role in playbook.roles %}
  - name: include role {{ role.name }}
    include_role:
        name: {{ role.name }}

{% endfor %}
